/* I tried to download a font and use it but it didn't work */
/* @font-face {
    font-family: 'Danger';
    src: url(../danger-on-the-motorway-font/);
  } */

/* fills entire screen */
html {
    height: 100%;
}

/* the background */
body {
    background-image: url(images/scoreboardsb2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    position: relative;
}

.title {
    margin: 0;
    padding-top: 50px;
    font-size: 60px;
    font-family: 'Asset', serif;
}

/* everything within the background */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

/* picture banner */
header {
    /* background-color: red; */
    height: 100px;
    text-align: center;
    color: white;
}

/* main scoreboard */
.scoreboard {
    background-color: black;
    display: flex;
    justify-content: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 623px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
    font-family: 'Press Start 2P', system-ui;
    
}

.scoreboard-numbers {
    background-color: black;
    width: 275px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F94F6D;
    font-size: 90px;
    font-weight: 400;
    font-family: 'Press Start 2P', system-ui;

}
.scoreboard-names {
    color: #EEEEEE;
    font-size: 40px;
    padding-top: 10px;
}

.buttons {
    align-items: center;
    height: 20px;
    width: 50px;
    background-color: black;
    color: #EEEEEE;
    font-size: 15px;
    font-family: 'Press Start 2P', system-ui;
}

#start-btn {
    height: 20px;
    width: 100px;
    background-color: green;
    color: #EEEEEE;
    font-size: 15px;
    font-family: 'Press Start 2P', system-ui;
}

#reset-btn {
    height: 20px;
    width: 100px;
    background-color: red;
    color: #EEEEEE;
    font-size: 15px;
    font-family: 'Press Start 2P', system-ui;
}

#pause-btn {
    margin-top: 10px;
    height: 20px;
    width: 100px;
    background-color: yellow;
    color: #EEEEEE;
    font-size: 15px;
    font-family: 'Press Start 2P', system-ui;
}

#timer-display {
    color: #EEEEEE;
}

#set-timer-heading {
    color: #EEEEEE;
    font-size: 40px;
    padding-top: 10px;
}

footer {
    /* background-color: aqua; */
    height: 100px;
}

.social-logos-container {
    display: flex;
    justify-content: flex-end;
   
}
img {
    height: 30px;
    width: 30px;
    margin-left: 10px ;
}

#social-text {
    color: #EEEEEE;
    font-size: 15px;
    font-family: 'Asset', serif;
}
/* 
.social-logos-github {
    height: 10px;
    width: 10px;
}

.social-logos-linkedin {
    height: 10px;
    width: 10px; */
/* } */